.ptable table{
	margin: 30px auto;
	border-collapse: collapse;
}

.ptable{
	margin: 0px 0% 30px 0%;
}

th, td {
    padding: 10px;
}

th{
	background-color: black;
	color: #fbfbfb;
}

.headin{
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin: 30px;
	display: block;
}

.pos{
	text-align: center !important;
    display: block;
}

.pos td{
	color: #000000;
}
